@tailwind base;
@tailwind components;
@tailwind utilities

@font-face {
    font-family: 'CustomFont';
    src: url('./fonts/YourFontFile.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }