
@font-face {
    font-family: 'etsfont1'; 
    src: url('../public/fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'etsfont2'; 
    src: url('../public/fonts/Marck_Script/MarckScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'etsfont3'; 
    src: url('../public/fonts/Oleo_Script/OleoScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'oswald'; 
    src: url('../public/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities

